.container-style {
}
.packageStyle {
  background-color: silver;
  padding: 0.5rem;
  margin: 1rem 0 0 0.5rem;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
}
.package-items {
  width: 91%;
}
.package-buttons button {
  color: red !important;
  font-weight: 700;
}
